<div class="content">
  <form class="form-container">
    <div class="form-header">
      <h3 class="title">Regístrate</h3>
      <span class="info"
        >Por favor, completa todos los campos para registrarte</span
      >
    </div>

    <div class="input-container">
      <div>
        <label for="">Nombre</label>
        <input type="text" placeholder="Ingresa tu nombre" />
      </div>
      <div>
        <label for="">Apellido</label>
        <input type="text" placeholder="Ingresa tu apellido" />
      </div>
      <div>
        <label for="">Correo</label>
        <input type="email" placeholder="Ingresa tu correo" />
      </div>
      <div>
        <label for="">Contraseña</label>
        <input type="password" placeholder="Ingresa tu contraseña" />
      </div>
    </div>

    <span class="form-footer">
      ¿Ya tienes una cuenta?,
      <a routerLink="/login">Inicia Sesión</a>
    </span>
  </form>
</div>
