<section class="user-container">
  <h1 class="titulo_admin">Dashboard</h1>

  <div class="contenido-admin">
    <div class="row g-4 mb-4">
      <div class="col-md-6 col-xl-3">
        <div class="card p-3 shadow-sm border-0">
          <div class="d-flex align-items-center">
            <div class="stats-icon bg-success-subtle text-success">
              <i class="bi bi-people-fill"></i>
            </div>
            <div class="ms-3">
              <h6 class="text-muted mb-0">Cursos Matriculados</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3">
        <div class="card p-3 shadow-sm border-0">
          <div class="d-flex align-items-center">
            <div class="stats-icon bg-primary-subtle text-primary">
              <i class="bi bi-award"></i>
            </div>
            <div class="ms-3">
              <h6 class="text-muted mb-0">Diplomados Matriculados</h6>
            </div>
          </div>
        </div>
      </div>

      <!-- últimos cursos en que se quedo el usuario -->
      <div class="row g-4">
        <div class="col-xl-7">
          <div class="card shadow-sm border-0 h-100">
            <div class="card-body">
              <h5 class="card-title fw-bold">
                Últimos cursos en que se quedo el usuario
              </h5>
              <div class="chart-placeholder text-center text-muted p-5">
                (Gráfico de Barras)
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-5">
          <div class="card shadow-sm border-0 h-100">
            <div class="card-body">
              <h5 class="card-title fw-bold p-3">Categorías Mas vendidas</h5>
              <div class="chart-placeholder text-center text-muted p-5">
                (Gráfico de Pastel)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
