<div class="login-container">
  <h2>Mario gei login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="correo">Correo Electrónico:</label>
      <input type="email" id="correo" formControlName="correo" placeholder="alejandro@gmail.com">
      <div *ngIf="loginForm.get('correo')?.invalid && (loginForm.get('correo')?.dirty || loginForm.get('correo')?.touched)" class="error-message">
        <div *ngIf="loginForm.get('correo')?.errors?.['required']">El correo es requerido.</div>
        <div *ngIf="loginForm.get('correo')?.errors?.['correo']">El formato del correo no es válido.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password" placeholder="****">
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="error-message">
        <div *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida.</div>
        <div *ngIf="loginForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 4 digitos xd</div>
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </form>
</div>
