<section class="dashboard">
  <h1 class="fw-bold mb-4">Dashboard</h1>

  <div class="row g-4 mb-4">
    <div class="col-md-6 col-xl-3">
      <div class="card p-3 shadow-sm border-0">
        <div class="d-flex align-items-center">
          <div class="stats-icon bg-success-subtle text-success">
            <i class="bi bi-cash-stack"></i>
          </div>
          <div class="ms-3">
            <h6 class="text-muted mb-0">Ventas de Hoy</h6>
            <span class="fw-bold fs-4">S/ 1,235</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card p-3 shadow-sm border-0">
        <div class="d-flex align-items-center">
          <div class="stats-icon bg-primary-subtle text-primary">
            <i class="bi bi-person-plus-fill"></i>
          </div>
          <div class="ms-3">
            <h6 class="text-muted mb-0">Nuevos usuarios</h6>
            <span class="fw-bold fs-4">32</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card p-3 shadow-sm border-0">
        <div class="d-flex align-items-center">
          <div class="stats-icon bg-warning-subtle text-warning">
            <i class="bi bi-journal-bookmark-fill"></i>
          </div>
          <div class="ms-3">
            <h6 class="text-muted mb-0">Cursos Activos</h6>
            <span class="fw-bold fs-4">45</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card p-3 shadow-sm border-0">
        <div class="d-flex align-items-center">
          <div class="stats-icon bg-purple-subtle text-purple">
            <i class="bi bi-award-fill"></i>
          </div>
          <div class="ms-3">
            <h6 class="text-muted mb-0">Diplomados Activos</h6>
            <span class="fw-bold fs-4">12</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-xl-7">
      <div class="card shadow-sm border-0 h-100">
        <div class="card-body">
          <h5 class="card-title fw-bold">Cursos más vendidos</h5>
          <div class="chart-placeholder text-center text-muted p-5">
            (Gráfico de Barras)
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-5">
      <div class="card shadow-sm border-0 h-100">
        <div classs="card-body">
          <h5 class="card-title fw-bold p-3">Categorías Mas vendidas</h5>
          <div class="chart-placeholder text-center text-muted p-5">
            (Gráfico de Pastel)
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
