<section>
  <h1 class="titulo_admin">Dashboard</h1>

  <div class="contenido-admin">
    <div class="row g-4 mb-4">
      <div class="col-md-6 col-xl-3">
        <div class="card p-3 shadow-sm border-0">
          <div class="d-flex align-items-center">
            <div class="stats-icon bg-success-subtle text-success">
              <i class="bi bi-people-fill"></i>
            </div>
            <div class="ms-3">
              <h6 class="text-muted mb-0">Estudiantes con matrícula</h6>
              <span class="fw-bold fs-4">{{
                loading ? "..." : metrics?.estudiantes ?? "-"
              }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3">
        <div class="card p-3 shadow-sm border-0">
          <div class="d-flex align-items-center">
            <div class="stats-icon bg-primary-subtle text-primary">
              <i class="bi bi-award"></i>
            </div>
            <div class="ms-3">
              <h6 class="text-muted mb-0">Programaciones de cursos activas</h6>
              <span class="fw-bold fs-4">{{
                loading ? "..." : metrics?.certificaciones ?? "-"
              }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3">
        <div class="card p-3 shadow-sm border-0">
          <div class="d-flex align-items-center">
            <div class="stats-icon bg-warning-subtle text-warning">
              <i class="bi bi-journal-bookmark-fill"></i>
            </div>
            <div class="ms-3">
              <h6 class="text-muted mb-0">Cursos Activos</h6>
              <span class="fw-bold fs-4">{{
                loading ? "..." : metrics?.cursos ?? "-"
              }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3">
        <div class="card p-3 shadow-sm border-0">
          <div class="d-flex align-items-center">
            <div class="stats-icon bg-purple-subtle text-purple">
              <i class="bi bi-person-badge"></i>
            </div>
            <div class="ms-3">
              <h6 class="text-muted mb-0">Instructores</h6>
              <span class="fw-bold fs-4">{{
                loading ? "..." : metrics?.instructores ?? "-"
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-xl-7">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body">
            <h5 class="card-title fw-bold">Cursos más vendidos</h5>
            <div class="chart-placeholder text-center text-muted p-5">
              (Gráfico de Barras)
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-5">
        <div class="card shadow-sm border-0 h-100">
          <div classs="card-body">
            <h5 class="card-title fw-bold p-3">Categorías Mas vendidas</h5>
            <div class="chart-placeholder text-center text-muted p-5">
              (Gráfico de Pastel)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
