:host {
  flex-shrink: 0;
  width: 280px;
  background-color: #ffffff;
  border-right: 1px solid #dee2e6;
}

.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #013162;
}

.sidebar-logo h3 {
  text-align: start;
  font-size: 1.1rem;
  color: #013162;
}

.sidebar-logo span {
  text-align: start;
  font-size: 1.8rem;
  color: #ff4d00;
}

.sidebar-profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-header h3 {
  color: #013162;
  font-size: 1.8rem;
  font-weight: bold;
}

.card-profile {
  width: 150px;
  height: auto;
  border: 1px solid #013162;
  border-radius: 20px;
}
