<div class="card">
  <div class="card-body">
    <h2 class="card-title mb-4">Métricas del Sitio</h2>
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Número de Estudiantes</label>
        <input type="number" class="form-control" [(ngModel)]="configGeneral.numeroEstudiantes">
      </div>
      <div class="col-md-6">
        <label class="form-label">Certificaciones</label>
        <input type="number" class="form-control" [(ngModel)]="configGeneral.numeroCertificaciones">
      </div>
      <div class="col-md-6">
        <label class="form-label">Instructores</label>
        <input type="number" class="form-control" [(ngModel)]="configGeneral.numeroInstructores">
      </div>
      <div class="col-md-6">
        <label class="form-label">Cursos</label>
        <input type="number" class="form-control" [(ngModel)]="configGeneral.numeroCursos">
      </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <button class="btn btn-primary" (click)="guardarConfigGeneral()">Guardar Cambios</button>
    </div>
  </div>
</div>